/* Import CSS */
@import '/css/home-header.css';

@import '/css/home-cover.css';
@import '/css/home-offers.css';
@import '/css/home-services.css';
@import '/css/home-testimonies.css';

/* Police personnalisée

font-family: 'Lato', sans-serif;
font-family: 'Raleway', sans-serif; */
/*

*
Variables
*
*/
:root {
  --size-tablet: 800px;
  --color-blue: #2e94fa;
  --color-middleBlue: #176ec4;
  --color-greyLight: #f4f4f4;
  --color-blueGreen: #22e39e;
  --color-green: #a5e9bd;
  --color-darkGrey: #302929;
  --color-pink: #e356b2;
  --color-orange: #ff7045;
}

body {
  font-family: 'Raleway', sans-serif;
}

/*
*
Flux
*
*/

.flux {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/*
*
Texts
*
*/

.t-title {
  font-size: 40px;
}

.t-title strong {
  color: var(--color-blueGreen);
}

.t-text {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
}

.t-link {
  color: var(--color-blue);
  font-weight: 800;
}

/* Start - Section 5 */

/* Stop - Section 5 */
